@{ 
    ViewBag.Title = "Home";
}
<p>Hello world, how would you like to sort your photos today?</p>
<ul>
    @foreach (KeyValuePair<string, string> action in ViewBag.actions)
    {
        <li><a href="/@action.Key">@action.Value</a></li>
    }
</ul>